<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Users</title>
  </head>
  <body>
    <h1>This is Users page</h1>
    <hr/>
    <ul>
      {% for user in users_list %}
      <li>{{ user.name }} {{ user.last_name }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
